html, body{
    height: 100%;
  }
    
  body {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue;
  }
    
  .container {
    width: 100vw;
    /* overflow: hidden; */
    border: 1px solid white;
  }
  
  .sliderwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 25px;
  } 
  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .slide-container {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 300px;
    overflow: hidden;
  } 
   
  li {
    list-style: none;
    /* font-size: 112px; */
    color: white;
    height: 300px;
    width: 3000px;
    /* padding: 0 4px 0 4px  */
  }
    
  li:nth-child(1) {
    background-image: url('../../images/1.jpg');
    /* width: 300px; */
  }
    
  li:nth-child(2){
    background-image: url('../../images/2.jpg')
  }
    
  li:nth-child(3){
    background-image: url('../../images/3.jpg')
  }
    
  li:nth-child(4) {
    background-image: url('../../images/4.jpg')
  }
    
  li:nth-child(5) {
    background-image: url('../../images/5.jpg')
  }