table{
    height: 300px;
    width: 300px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

td{
    border: solid black 3px;
    cursor: pointer;
}
/* .cell{
    background-color: green;
} */

.row1{
    background-color: purple
}
.row2{
    background-color: green
}
.row3{
    background-color: red
}
#four{
    background-color: black;
}