.theAboutWrapper{
    background-color: white;
    width: 25vw;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 15px 15px;
    /* box-shadow: 2px 2px 12px black; */
    /* margin-top: 10vh; */
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    /* transform: translate(-50%, -50%); */
    
}

.theAboutTitle{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.aboutPic {
    float: left;
    width: 30vw;
    height: auto;
    padding: 25px 25px;
}

/* h1 {
    
} */