body {
    background-image: url(images/art.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 701px) {
    body {
        background-color: ivory;
        font-family: block
    }
    .title_div {
        background-color: white;
        text-align: center;
        margin: 0px 230px;
    }
    #title_image {
        grid-area: t;
        height: 60%;
        width: 60%;
        margin-left: 5%;
    }
    .nav-main {
        display: flex;
        justify-content: center;
    }
    .nav-mini {
        display: none;
    }
}

@media (max-width: 700px) {
    body {
        background-color: ivory;
        font-size: 10px;
    }
    .title_div {
        display: flex;
        background-color: white;
    }
    #title_image {
        grid-area: t;
        height: 60%;
        width: 60%;
        margin-left: auto;
    }
    .nav-main {
        display: none;
    }
    .nav-mini {
        display: flex;
        justify-content: flex-start;
    }
}

.the_links{
    text-decoration-line: none !important;
    color: white
}