/* @media (min-width: 855px) { */
    .links {
        text-decoration: none;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 100%;
    }
    .navBod {
        background-color: gray;
        border: 5px gray solid;
        border-radius: 4px;
        height: 10vh;
        /* width: 100%; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .imgs {
        height: 100%;
        border: 5px gray solid;
    }
    .navi{
        display: flex;
        
    }
/* }

@media (max-width: 854px) {
    .links {
        display: none;
    }
    .navBod {
        display: none;
    }
    .imgs {
        height: 100%;
        border: 5px gray solid;
    }
} */