.wrapper {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 5px;
    grid-template-areas: 
        "p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1"
        "h1 h1 h1 h2 h2 h2 h3 h3 h3 h4 h4 h4"
        "b1 b1 b1 b1 b1 b1 b2 b2 b2 b2 b2 b2"
        "g1 g1 g1 g1 g1 g1 g1 g1 g1 o1 o1 o1"
}

@media (max-width: 900px){
    .wrapper{
        display: grid;
        grid-template-columns: 100px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        grid-gap: 5px;
        grid-template-areas: 
            "p1 p1 p1 p1 p1 p1 p1 p1 p1"
            "h1 h1 h1 h1 h1 h1 h1 h1 h1"
            "h2 h2 h2 h2 h2 h2 h2 h2 h2"
            "h3 h3 h3 h3 h3 h3 h3 h3 h3"
            "h4 h4 h4 h4 h4 h4 h4 h4 h4"
            "b1 b1 b1 b1 b1 b1 b1 b1 b1"
            "b2 b2 b2 b2 b2 b2 b2 b2 b2"
            "g1 g1 g1 g1 g1 g1 g1 g1 g1"
            "o1 o1 o1 o1 o1 o1 o1 o1 o1"
    }
}

.pink{
    grid-area: p1;
    background-color: #F5C6D6;
}

.hotpink1 {
    grid-area: h1;
    background-color: #EE2E84;
}
.hotpink2 {
    grid-area: h2;
    background-color: #EE2E84;
}
.hotpink3 {
    grid-area: h3;
    background-color: #EE2E84;
}
.hotpink4 {
    grid-area: h4;
    background-color: #EE2E84;
}

.blue1 {
    grid-area: b1;
    background-color: #85CFD8;
}
.blue2 {
    grid-area: b2;
    background-color: #85CFD8;
}

.green {
    grid-area: g1;
    background-color: #8DC63F;
}

.orange {
    grid-area: o1;
    background-color: #E76E34;
}

