body {
    background-image: url('./Matrix BinaryHD WallpapersImagesPictures.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
}

#colbod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(49, 53, 56, 0.7);
    margin: auto;
    width: 500px;
    /* margin-top: 150px; */
}
.titletag{
    color: white;
    text-shadow: 13px 13px 13px silver;
    font-size: 75px;
}
.calc{
    display: flex;
    flex-direction: column;
    /* border: solid black 2px; */
    margin-top: 1vh;
}

#mult{
    margin-top: 3px;
    border: solid black 2px;
}
#outputAdd{
    background-color: white;
    text-align: center;
}
#outputSub{
    background-color: white;
    text-align: center;
}
#outputDiv{
    background-color: white;
    text-align: center;
}
#outputMult{
    background-color: white;
    text-align: center;
}
.theInputs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    color: white;
}
.next_or_last{
    color: white;
    text-decoration: none;
    margin: 13px;
}
.next_or_last:hover{
    color: white;
    margin: 13px;
    text-decoration: underline;
}
.returnDiv {
    display: flex;
    background-color: black;
    border-radius: 13px;
}