.overallWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color {
    background-color: white;
    border: solid black 1px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    opacity: 0.84;
    width: 40em;
}

.listingWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    /* background-color: white; */
    text-shadow: 3px 3px 3px gray;
    /* border: solid black 1px; */
    border-radius: 3px;
    width: 20em;
    text-align: center;
    /* opacity: 0.7; */
}

.about{
    align-self: center;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 0px;
    grid-template-areas: "ma mo" "ye mi" "co pr"
}

.make {
    grid-area: ma;
}

.model {
    grid-area: mo;
}

.year {
    grid-area: ye;
}

.miles {
    grid-area: mi;
}

.carColor {
    grid-area: co;
}

.price {
    grid-area: pr;
}

.vehicleInfo {
    width: 15em;
}

.input {
    margin-left: 2em;
}

.titleRange {
    align-self: center;
}

.range {
    align-self: center;
}

.result{
    align-self: center;
}

.submit {
    align-self: center;
    width: 8em;
}

.imageUpload{
    align-self: center;
}

.imgTxt{
    text-align: center;
}

.describe{
    width: 90%;
    height: 100px;
}