.app-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border: black 3px solid;
    height: 400px;
    width: 400px;
}