* {
  box-sizing: border-box;
  margin: 0;
 }
 
 header {
  position: fixed;
  width:100%;
  display: block;
  text-align: center;
  background-color: rgb(36, 238, 171);
  box-shadow: 3px 3px 12px black;
  color: grey;
  text-decoration-line: unset;  
 }
 
 nav {
    background-color: black;
    width: 100%;
    padding: 5px;
    text-align: right;
    box-shadow: 3px 3px 12px black;
    position: fixed;
    display: flex;
    justify-content: space-around;
 }
 
 nav a {
    color: red;
    font-size: 30px;
  }
 
 .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 70px;
    text-align: center;
    font-size: 75px;
    background-color:  rgb(36, 238, 171);
  }
 
 .blog {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
 }
 
 .mainframepic {
  height: 100vh;
  width: 100%;
 }
 
 .post {
  padding-top: 40px;
  text-align: center;
 }
 
 .pic1 {
  float: left;
  clear: both;
  height: 250px;
  
 }
 
 .pic2 {
  float: right;
  clear: both;
  height: 300px;  
 }