@media (min-width: 500px) {
    .vid {
        height: 90%;
        width: 90%;
    }
    .homeD {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .words {
        margin: 2% 20%;
    }
    
}

@media (max-width: 499px) {
    .vid {
        height: 50%;
        width: 50%;
    }
    .homeD {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .words {
        margin: 2% 20%;
    }
}

.cad{
    width: 105%;
}